* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.emailTemplate {
  margin: auto;
  width: 800px;
  border-radius: 10px;
  background: linear-gradient(
    to bottom right,
    rgba(139, 216, 188, 0.15),
    rgba(35, 53, 101, 0.05)
  );
  color: rgba(35, 53, 101);
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.emailTemplate .userName {
  text-align: center;
  margin-bottom: 25px;
  font-size: 25px;
}
.emailTemplate p {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.5;
}
.emailTemplate p:last-of-type {
  margin-bottom: 40px;
}

.emailTemplate .logo {
  width: 120px;
  height: 120px;
  background-color: #fff;
  border-radius: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.emailTemplate .logo img {
  width: 80px;
  cursor: pointer;
}

.emailTemplate span {
  text-align: center;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}
